
<footer>
    <div class="footer-wrapper">
        
        <div class="social">
            <div class="ty"><p>Спасибо что заказываете у нас!</p></div>
            <div class="number"><p>Наш телефон: 0 551 550-550</p></div>
            <div class="ssr"><p>Соц. сети :</p></div>
            <a href="https://www.instagram.com/dodopizzakg/?hl=ru" class="footer-link"><img src="../assets/images/inst.png" alt=""></a>
            <a href="https://vk.com/dodo" class="footer-link"><img src="../assets/images/vk.png" alt=""></a>
            <a href="https://www.facebook.com/dodopizzakg/" class="footer-link"><img src="../assets/images/facebook.png" alt=""></a>
        </div>
    </div>
</footer>
