<header>
    <div class="header-block">
        <a href="../index.html" class="logo-link"><img src="../assets/images/logo.png" alt="" class="logo"></a>
        <div class="logo-text"><p class="logo-title">DODO PIZZA</p>
        <p class="logo-descr">Доставка пиццы Бишкек</p></div>
    </div>
   
    <nav>
        <a href="../pizza.html" class="nav-link">Пицца</a>
        <a href="../combo.html" class="nav-link">Комбо</a>
        <a href="../snacks.html" class="nav-link">Закуски</a>
        <a href="../dessets.html" class="nav-link">Десерты</a>
        <a href="../drinks.html" class="nav-link">Напитки</a>
        <a href="../about.html" class="nav-link">О нас</a>
    </nav>

    <div class="log-in-registration">
        <div><a href="" class="log-in-link"><div class="log-in"><p>Войти</p></div></a></div>
        <div><a href="" class="registration-link"><div class="registration"><p>Регистрация</p></div></a></div>
    </div>
    <div class="line"></div>
</header>
